<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:p="http://www.springframework.org/schema/p"
	default-autowire="byName">

	<!-- <bean id="mediaStorageService"
		class="com.saick.base.controller.upload.mediastorage.service.impl.MediaStorageServiceMfsImpl">
		<property name="projectCode" value="${gagu.ucm.projectCode}"></property>
		<property name="fileDirPrefixRegex"
			value="${com.saic.ebiz.mediastorage.filedirprefixregex:^[a-z\d]{1,20}$}">
		</property>
		<property name="fileTypeRegex"
			value="${com.saic.ebiz.mediastorage.filetyperegex:^[a-z\d]{1,10}$}">
		</property>
		<property name="fileTypeBlacklistRegex"
			value="${com.saic.ebiz.mediastorage.filetypeblacklistregex:^js|php|aspx|jsp|asp|py$}"></property>
		<property name="filePathBlacklistRegex"
			value="${com.saic.ebiz.mediastorage.filepathblacklistregex:^.*\.\..*$}"></property>
		<property name="useProjectDir" value="${com.saic.ebiz.mediastorage.useprojectdir:1}"></property>
		<property name="mfsPath"
			value="${com.saic.ebiz.mediastorage.mfspath:/mfs}"></property>
		<property name="publicPath"
			value="${com.saic.ebiz.mediastorage.publicpath:/public/img2}"></property>
		<property name="privacyPath"
			value="${com.saic.ebiz.mediastorage.privacypath:/privacy/img2}"></property>
	</bean> -->

</beans>
